<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gathr</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://app.userapp.io/js/userapp.client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/javascripts/src/lib/tags.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Gathr</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="btn" href="/logout">Log Out</a></li>
            <!-- if not gold or silver account -->
            <li><a class="btn" href="/upgrade">Upgrade</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="img/user.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <h3> Welcome User! </h3>
              <span class="black-text">
                Find some stuff here in your dashboard;
              </span>
              <a href="<%= insta_auth_link %>" class="btn waves-effect waves-light connect-insta" name="action">Connect to Instagram
                <i class="material-icons right">send</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <form action="/update_user_preferences" method="POST">
        <fieldset>
          <label>Enter tags to like:</label>
          <div data-tags-input-name="tags" id="tagBox"></div>
          <button class="btn waves-effect waves-light submit-tags" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <input class="token-string" type="hidden" name="token" value="">
        </fieldset>

      </form>
      <p>
        <div class="result"></div>
        <% if(typeof current_tag_likes !== 'undefined') { %>
          <div class="row">
          <% current_tag_likes.forEach(function(image){ %>
            <div class="col s12 m4">
              <div class="card small">
                <div class="card-image">
                  <img src="<%= image.images.low_resolution.url %>">
                  <span class="card-title"><%= image.user.username %></span>
                </div>
                <div class="card-content">
                  <p>
                    <input type="checkbox" id="instagram-like-batch-<%= image.id %>" />
                    <label for="instagram-like-batch-<%= image.id %>">Select</label>
                  </p>
                </div>
              </div>
            </div>
          <% }); %>
          </div>
        <% } %>
      </p>
    </div>
    <script>
      $(document).ready(function(){
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
          }
        );
        $('.token-string').attr('value', window.location.search.replace("?token=", ""))
        UserApp.initialize({ appId: "57c9a3a52ce8c" });
        var $tagbox = $("#tagBox").tagging({'edit-on-delete': false});

      });
    </script>
  </body>
</html>
